html {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 1.3em;
	max-width: 40rem;
	padding: 0.5rem 1rem;
	margin: auto;
	overflow: hidden;
}

h1 {
	margin: 0;
}

p {
	margin: 0.5rem 0 1rem;
	color: #676767;
}

div {
	position: fixed;
}

.instructions {
	font-size: 0.7em;
	line-height: 1.2em;
	padding-top: 10px;
	padding-right: 120px;
}

img {
	position: fixed;
	bottom: -3px;
	right: -80px;
	width: 200px;
	transition: all 0.3s ease;
}

button {
	width: 200px;
	height: 55px;
	font-size: 0.8rem;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	background-size: 300% 100%;
	background-image: linear-gradient(
		to right,
		#00ae90,
		#00b295,
		#00ba9c,
		#2bb673
	);
	border: none;
	border-radius: 50px;
	box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
	transition: all 0.4s ease-in-out;
}

button:hover {
	background-position: 100% 0;
	transition: all 0.4s ease-in-out;
}

button:focus {
	outline: none;
}
