html {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 1.3em;
	max-width: 40rem;
	padding: 0.5rem 1rem;
	margin: auto;
	overflow: hidden;
}

h1 {
	margin: 0;
}

a {
	color: #2bb673;
	font-weight: bold;
}

br {
	display: block;
	margin: 0.3rem 0;
	content: "";
}

p {
	margin: 0.5rem 0 0.8rem;
	color: #676767;
}

p#currentpath {
	font-size: 0.7em;
	line-height: 1.2em;
	margin-bottom: 0;
}

p#currentpath strong {
	color: #000000;
}

details {
	font-size: 0.7em;
	line-height: 1.2em;
	padding-top: 10px;
	padding-right: 95px;
}

summary {
	cursor: pointer;
}

img {
	position: fixed;
	bottom: -3px;
	right: -80px;
	width: 200px;
	transition: all 0.3s ease;
}

input[type="file"] {
	display: none;
}

.mb {
	margin-bottom: 20px;
}

.path-picker {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

button,
.path-picker {
	width: 200px;
	height: 55px;
	font-size: 0.8rem;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	background-size: 300% 100%;
	background-image: linear-gradient(
		to right,
		#00ae90,
		#00b295,
		#00ba9c,
		#2bb673
	);
	border: none;
	border-radius: 50px;
	box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
	transition: all 0.4s ease-in-out;
}

button:hover,
.path-picker:hover {
	background-position: 100% 0;
	transition: all 0.4s ease-in-out;
}

button:focus {
	outline: none;
}

button:disabled {
	cursor: not-allowed;
}

.tabs {
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
	background: #f2f2f2;
	border-radius: 50px;
}

.tabs::before {
	display: block;
	content: "";
	background: #fff;
	position: absolute;
	top: 2px;
	left: 2px;
	width: 178px;
	height: 50px;
	border-radius: 50px;
	transition: all 0.3s ease;
}

.tabs.right::before {
	left: 182px;
}

button.tablinks {
	position: relative;
	width: 178px;
	color: #000000;
	background: transparent;
	box-shadow: none;
	z-index: 10;
}

.tablinks:not(.active) {
	background: transparent;
	color: #616161;
}

.tabcontent {
	display: none;
}

.tabcontent.active {
	display: block;
}
